
      <div class="row">
        <div class="big-box">
          <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong> Input details Here</strong>
          </div>
          <div class="panel-body">
            <form role="form" ng-submit="ip.regUser(regData);">
              <fieldset>
                <div class="row">
                 
                <div class="row">
                  <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                   <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-th"></i>
                        </span> 
                        <input class="form-control" placeholder="Corresponding ID" name="pid" id="pid"  ng-model="ip.regData.pid" type="text" autofocus>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-qrcode"></i>
                        </span> 
                        <input class="form-control" placeholder="QR Code" name="qid" id="qid" ng-value="qid" ng-model="ip.regData.qid" type="text" disabled autofocus>
                      </div>
                    </div>
                  
                    <div class="form-group">
                      <input type="submit" class="btn btn-lg btn-primary btn-block" value="Mapp QR Code">
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          
          <br>
    <div class = "row show-hide-message" ng-show="ip.successMsg">
      <div class="alert alert-success">{{ip.successMsg}}</div>
    </div>

   
                </div>
                 <br>

    <div class ="row show-hide-message" ng-show="ip.errorMsg">
      <div class="alert alert-danger">{{ip.errorMsg}}</div>
    </div>
      </div>




      
        </div>
      </div>
   