<div class="row mar-bot40">
    <div class="col-md-offset-3 col-md-6">
      <div class="sections-header">
        <h2>Scanner</h2>
      </div>
    </div>
  </div>
  <section id="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <article>
            <div class="post-image">
              <div class="post-heading">
                <h3><a href="#">Scan the QR Code and get the product details corresponding to it</a></h3>
              </div>
              <video class="center" id="preview" width="500", height="800"> </video>
 
                 <p><strong>Note:</strong> Allow your device to access the camera settings.</p>
            </div>

   

          </article>
           
           
        </div>
        
          </aside>
        </div>
      </div>
    </div>
  </section>

