<!-- <div>
	<table class ="table table-responsive-sm">
    <tbody >
        <tr>
          <th>Product ID</th>
            <td>{{ProID}}</td>
          	
        </tr>
        <tr>
          <th>Product Type</th>
            <td>{{type}}</td>
             
        </tr>
        <tr>
          <th>Weight</th>
            <td>{{weight}}</td>
             
        </tr>
      <tr>
          <th>Height</th>
          	<td>{{height}}</td>
            
        </tr>
        <tr>
          <th>QR Code</th>
          	<td>{{id}}</td>
             
        </tr>
    </tbody>
</table>
</div> -->

 <div class="container">
        <div class="row">
          <div class="col-md-8">
            
<div class="table-responsive">
  <table class="table table-striped">
  <caption ><strong>Product Details Table</strong></caption>
     <tbody >
        <tr>
          <th>Product ID</th>
            <td>{{ProID}}</td>
            
        </tr>
        <tr>
          <th>Product Type</th>
            <td>{{type}}</td>
             
        </tr>
        <tr>
          <th>Weight</th>
            <td>{{weight}}</td>
             
        </tr>
      <tr>
          <th>Height</th>
            <td>{{height}}</td>
            
        </tr>
        <tr>
          <th>QR Code</th>
            <td>{{id}}</td>
             
        </tr>
    </tbody>

  </table>

</div>
          </div>
          <div class="col-md-4">
            <img src="assets/img/vic.jpg" class="demo">
            <h2>Product Vicitrionix</h2>
            <p>Product Description in words can be written here ....</p>
            
          </div>
        </div>
      </div>